rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      return request.auth != null;
    }

    // Folder foto publik/admin
    match /{allPaths=**} {
      allow read: if true;
      // Membatasi upload ukuran file maks 5MB dan harus berupa gambar
      allow write: if (isAdmin() || request.resource.contentType.matches('image/.*'))
                   && request.resource.size < 5 * 1024 * 1024;
    }
  }
}
